span.deleteicon
{
  position: relative;
}

span.deleteicon span
{
  position: absolute;
  display: block;
  top: -2px;
  right: 0px;
  width: 16px;
  height: 16px;
  z-index: 1;
  background: url('images/sprites.png') 0 -690px;
  cursor: pointer;
}

span.deleteicon input
{
  padding-right: 16px;
}
